@use './abstracts/variables' as *;
@use './base/reset';
@use 'components/navigation';

// Variables
$primary-color: $deep-blue;
$secondary-color: $gold;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Estilos globales
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $light-gray;
}

// Ejemplo de BEM
.block {
  &__element {
    color: $primary-color;
    @include flex-center;
  }

  &--modifier {
    background-color: $secondary-color;
  }
}
