---
import { Icon } from '@iconify/react';
---

<nav class="navbar">
  <div class="navbar__container">
    <a href="/" class="navbar__link">
      <Icon icon="mdi:home" className="navbar__link--icon" />
      Inicio
    </a>
    <div class="navbar__menu">
      <a href="#clientes-felices" class="navbar__link">Clientes Felices</a>
      <a href="#cachorros-disponibles" class="navbar__link">Cachorros Disponibles</a>
      <a href="#criadero" class="navbar__link">Criadero</a>
      <a href="#contacto" class="navbar__link">Contacto</a>
    </div>
  </div>
</nav>

<style>
  @import '../styles/NavBar.scss';
</style>
